body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.house-card {
  width: 18rem;
  min-height: 350px;
}

.house-image {
  height: 200px;
  object-fit: cover;
}

.house-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.house-price {
  color: #333;
}
